<p>add works!</p>
<div>
    <form>
        <label for="subname">Subject Name:  </label>
        <input type="text" name="subname" [(ngModel)]="inputName" required><br><br>
        <label for="subid">Subject Id:  </label>
        <input type="text" name="subid"[(ngModel)]="inputId" required><br><br>
        <label for="fname">Faculty Name:  </label>
        <input type="text" name="fname" [(ngModel)]="inputfname" required><br><br>
        <label for="fid">Faculty Id:  </label>
        <input type="text" name="fid" [(ngModel)]="inputfid" required><br><br>
        <button (click)="addDetails()">Submit</button>
    </form>

    
</div>
